/*
		Constant properties and site-wide styles.
*/

:root {
	--text-primary: #1D1D1F;
	--text-light: #6B7280;
	--text-lighter: #9CA3AF;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: -apple-sytem, BlinkMacSystemFont, 'Roboto', sans-serif;
}

.noscroll { overflow: hidden; }

/*
		Block elements (text sections, etcetera).
*/				
						
.heading {
	font-size: 4.0rem;
	font-weight: 600;
	letter-spacing: -0.009em;
	line-height: 1.0em;
	margin-bottom: 2rem;
}

.heading.dark {
	color: #FFF;
}

.blocks {
	padding: 0 1.5rem;
}

.blocks h1 {
	font-size: 1.875rem;
	font-weight: 800;
	letter-spacing: -0.025rem;
	line-height: 1;
	margin-bottom: 2rem;
}

.blocks p {
	font-size: 1.125rem;
	font-weight: 500;
	line-height: 1.75rem;
	margin-bottom: 1.5rem;
}

.blocks.light h1 {
	color: #010B13;
}

.blocks.light p {
	color: #6B7280;
}

.blocks.dark h1 {
	color: #FFF;
}

.blocks.dark p {
	color: #D1D5DB;
}

.intro-group-wrapper {
	background: #F5F5F7;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	width: 100%;
	min-height: 100vh;
	padding: 7rem 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
}

.intro-group-wrapper div * {
	margin-bottom: 1rem;
}

.intro-group-wrapper h1 {
	font-size: 1.9rem;
	line-height: 1.125;
	font-weight: 600;
	letter-spacing: .004em;
	color: #1D1D1F;
}

.intro-group-wrapper svg {
	height: 50px;
}

.intro-group-wrapper * {
	margin-bottom: 8rem;
}

/*
		Responsive classes (for desktop).
*/

@media (min-width: 1024px) {

	.container {
		margin: 0 auto;
	}
	
	.heading {
		font-size: 4.5rem;
		line-height: 1.25em;
	}
	
	.blocks {
		padding: 0 2rem;
	}
	
	.blocks h1 {
		font-size: 3.75rem;
	}
	
	.blocks p {
		font-size: 1.5rem;
		line-height: 2.5rem;
		max-width: 42rem;
	}
	
	.intro-group-wrapper {
		padding: 14rem 0;
		align-items: center;
	}
	
	.intro-group-wrapper div {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	.intro-group-wrapper div * {
		margin-bottom: 2rem;
	}
	
	.intro-group-wrapper h1 {
		font-size: 3.75rem;
		line-height: 1.0625;
		letter-spacing: -0.009em;
		text-align: center;
	}
	
	.intro-group-wrapper svg {
		height: 96px;
	}
	
	.intro-group-wrapper * {
		margin-bottom: 8rem;
	}
		
}

/*
		Containers.
*/

.container {
	width: 100%;
	height: 100vh;
}

.container.light {
	background: #FFF;
}

.container.dark {
	background: #000;
}

.heroContainer {
  position: relative;
  text-align: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/*
		Navigation Bar (header) and footer.
*/

#nav-bar {
	position: fixed;
	box-sizing: border-box;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 10;
	overflow: hidden;
	padding: 0.25rem 1.25rem;
	display: flex;
	align-items: center;	
	justify-content: space-between;
	transition: padding 0.2s ease, backdrop-filter 0.2s ease, background 0.2s ease;
}

#nav-bar.scrolled {
	background: rgba(255, 255, 255, 0.8);
	border-bottom: 1px solid #EEE;
	backdrop-filter: blur(10px);	
}

#menu-btn {
	width: 48px;
	height: 48px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
}

#mobile-nav {
	padding: 6rem 1.25rem;
}

#mobile-nav ul {
	list-style-type: none;
	padding: 0;	
	display: flex;
	flex-direction: column;
	margin: -2rem 0 0 0;
}

#mobile-nav ul > * {
	margin-top: 2rem;
}

#mobile-nav ul li a {
	font-family: "Michroma";
	font-size: 1.5rem;
	font-weight: 700;
	color: white;
	text-decoration: none;
	text-transform: uppercase;	
}

#nav-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: white;
	z-index: 9;
}

#desktop-nav {
	display: none;
}

#nav-logo {
	color: var(--text-primary);
	font-size: 1.125rem;
	font-weight: 800;
	text-decoration: none;
}


.firstBar, .secondBar {
  width: 15px;
  height: 2px;
  background: #000;
  border-radius: 16px;
}

.bar-spacer {
	margin: 3px 0;
}

.dark.firstBar, .dark.secondBar {
  background: #fff;
}

.light.firstBar, .light.secondBar {
  background: #000;
}

.expanded .firstBar {
  animation: ani1 0.4s ease-out;
  animation-fill-mode: forwards;
}

.expanded .secondBar {
  animation: ani2 0.4s ease-out;
  animation-fill-mode: forwards;
}

.collapsed .firstBar {
  animation: ani3 0.4s ease-in-out;
  animation-fill-mode: forwards;
}

.collapsed .secondBar {
  animation: ani4 0.4s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes ani1 {
  0% {}
  25% {transform: translateY(5px);}
  100% {transform: translateY(3px) rotate(-45deg);}
}

@keyframes ani2 {
  0% {}
  25% {transform: translateY(-5px);}
  100% {transform: translateY(-5px) rotate(45deg);}
}

@keyframes ani3 {
  0% {transform: translateY(5px) rotate(-45deg);}
  50% {transform: translateY(5px);}
  100% {}
}

@keyframes ani4 {
  0% {transform: translateY(-5px) rotate(45deg);}
  50% {transform: translateY(-5px);}
  100% {}
}

@keyframes bg-animation {
    0% { transform: translate(0,0) }
    10% { transform: translate(-5%,-5%) }
    20% { transform: translate(-10%,5%) }
    30% { transform: translate(5%,-10%) }
    40% { transform: translate(-5%,15%) }
    50% { transform: translate(-10%,5%) }
    60% { transform: translate(15%,0) }
    70% { transform: translate(0,10%) }
    80% { transform: translate(-15%,0) }
    90% { transform: translate(10%,5%) }
    100% { transform: translate(5%,0) }
}

.footer {
  background: #1F2225;
  background-image: linear-gradient(180deg,rgba(31,34,37,0) 0%, #1f2225 45%), url("/images/footer-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0, center center;
}

@media (min-width: 1024px) {
	
	nav {	
		width: 60%;
	}

	nav ul {
		visibility: visible;
		list-style-type: none;
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
	}
	
	nav ul > * {
		margin-top: 0;
	}
	
	nav ul li a {
		color: var(--text-primary);
		font-size: 0.875rem;
		font-weight: 400;
		text-decoration: none;
		text-transform: uppercase;
	}
		
	#nav-bar {
		padding: 3rem 4rem;		
	}
	
	#nav-bar.scrolled {
		padding: 1rem 3rem;
	}	
	
	#desktop-nav {
		display: block;
	}

	#menu-btn {
		display: none;
	}
	
  .footer {
    background-position: 0 0, top left;
  }
	
}
