@tailwind base;
@tailwind components;
@tailwind utilities;

/*
		Colors.
*/

.txt-lightgray {
	color: #9CA3AF;
}

.txt-darkgray {
	color: #6B7280;
}

.txt-black {
	color: #1D1D1F;
}

/*
		Block elements (text sections, etcetera).
*/				
						
.heading {
	font-size: 4.0rem;
	font-weight: 600;
	letter-spacing: -0.009em;
	line-height: 1.0em;
	margin-bottom: 2rem;
}

.heading.dark {
	color: #FFF;
}

.blocks {
	padding: 0 1.5rem;
}

.blocks h1 {
	font-size: 1.875rem;
	font-weight: 800;
	letter-spacing: -0.025rem;
	line-height: 1;
	margin-bottom: 2rem;
}

.blocks p {
	font-size: 1.125rem;
	font-weight: 500;
	line-height: 1.75rem;
	margin-bottom: 1.5rem;
}

.blocks.light h1 {
	color: #010B13;
}

.blocks.light p {
	color: #6B7280;
}

.blocks.dark h1 {
	color: #FFF;
}

.blocks.dark p {
	color: #D1D5DB;
}

.intro-group-wrapper {
	background: #F5F5F7;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	width: 100%;
	min-height: 100vh;
	padding: 7rem 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
}

.intro-group-wrapper div * {
	margin-bottom: 1rem;
}

.intro-group-wrapper h1 {
	font-size: 1.9rem;
	line-height: 1.125;
	font-weight: 600;
	letter-spacing: .004em;
	color: #1D1D1F;
}

.intro-group-wrapper svg {
	height: 50px;
}

.intro-group-wrapper * {
	margin-bottom: 8rem;
}

/*
		Responsive classes (for desktop).
*/

@media (min-width: 1024px) {

	.container {
		margin: 0 auto;
	}
	
	.heading {
		font-size: 4.5rem;
		line-height: 1.25em;
	}
	
	.blocks {
		padding: 0 2rem;
	}
	
	.blocks h1 {
		font-size: 3.75rem;
	}
	
	.blocks p {
		font-size: 1.5rem;
		line-height: 2.5rem;
		max-width: 42rem;
	}
	
	.intro-group-wrapper {
		padding: 14rem 0;
		align-items: center;
	}
	
	.intro-group-wrapper div {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	.intro-group-wrapper div * {
		margin-bottom: 2rem;
	}
	
	.intro-group-wrapper h1 {
		font-size: 3.75rem;
		line-height: 1.0625;
		letter-spacing: -0.009em;
		text-align: center;
	}
	
	.intro-group-wrapper svg {
		height: 96px;
	}
	
	.intro-group-wrapper * {
		margin-bottom: 8rem;
	}
		
}

/*
		Containers.
*/

.container {
	width: 100%;
	height: 100vh;
}

.container.light {
	background: #FFF;
}

.container.dark {
	background: #000;
}

.scroll-wrapper, .scroll-section {
  width: 100%;
  height: 100vh;
}

.scroll-wrapper {
  scroll-snap-type: y mandatory;
  scroll-padding-top: 6vh;
  overflow: scroll;
}

.scroll-section {
  overflow: scroll;
  scroll-snap-align: start;
}

.heroContainer {
  position: relative;
  text-align: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.userStory {
  width: 100%;
  min-height: 200px;
  max-height: 300px;
  background: #28292E;
  color: white;
  border-radius: 8px;
  border: 2px solid #626166;
  overflow-y: scroll;
}

.navBarLight {
  position: fixed;
  overflow: hidden;
  z-index: 50;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 6vh;
  max-height: 0px;
  background: rgba(255,255,255,0.8);
  border-bottom: 1px solid #D6D6D6;
  backdrop-filter: blur(10px);
  transition: max-height 0.3s ease-in-out;
}

.navBarDark {
  position: fixed;
  overflow: hidden;
  z-index: 50;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 6vh;
  max-height: 0px;
  background: rgba(0,0,0,0.9);
  backdrop-filter: blur(10px);
  transition: max-height 0.3s ease-in-out;
}


.firstBar, .secondBar {
  width: 15px;
  height: 1px;
  background: #000;
  border-radius: 16px;
}

.dark.firstBar, .dark.secondBar {
  background: #fff;
}

.light.firstBar, .light.secondBar {
  background: #000;
}

.expanded .firstBar {
  animation: ani1 0.4s ease-out;
  animation-fill-mode: forwards;
}

.expanded .secondBar {
  animation: ani2 0.4s ease-out;
  animation-fill-mode: forwards;
}

.collapsed .firstBar {
  animation: ani3 0.4s ease-in-out;
  animation-fill-mode: forwards;
}

.collapsed .secondBar {
  animation: ani4 0.4s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes ani1 {
  0% {}
  25% {transform: translateY(5px);}
  100% {transform: translateY(2px) rotate(-45deg);}
}

@keyframes ani2 {
  0% {}
  25% {transform: translateY(-5px);}
  100% {transform: translateY(-5px) rotate(45deg);}
}

@keyframes ani3 {
  0% {transform: translateY(5px) rotate(-45deg);}
  50% {transform: translateY(5px);}
  100% {}
}

@keyframes ani4 {
  0% {transform: translateY(-5px) rotate(45deg);}
  50% {transform: translateY(-5px);}
  100% {}
}

.footer {
  background: #1F2225;
  background-image: linear-gradient(180deg,rgba(31,34,37,0) 0%, #1f2225 45%), url("/images/footer-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0, center center;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(6vh);
  visibility: hidden;
  transition: opacity 1200ms ease-out, transform 600ms ease-out, visibility 1200ms ease-out;
  will-change: opacity, transform, visibility;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

@media (min-width: 1024px) {
  .footer {
    background-position: 0 0, top left;
  }
  
  .navBarLight, .navBarDark {
    min-height: 53px;
  }
}
